<mat-card>
  <mat-card-title>
    Files
  </mat-card-title>
  <mat-card-subtitle>
    Provides file operation utilities in Java.
  </mat-card-subtitle>
  <mat-card-content>
    <p>The file utilities provide the following:</p>
    <ul>
      <li>
        Copying a directory and all of its contents.
      </li>
      <li>
        Deleting a directory and all of its contents.
      </li>
      <li>
        Splitting a file into pieces.  Useful for very large files.
      </li>
      <li>
        Assembling split file pieces back into a file.
      </li>
      <li>
        Getting a file extension.
      </li>
      <li>
        Hiding and unhiding files.  Works in Windows and Linux.  Not tested in MacOS, but probably works.
      </li>
      <li>
        Listing files recursively.
      </li>
      <li>
        Writing a string to file.
      </li>
    </ul>
    <p>
      <b><a mat-raised-button color="primary" href="https://github.com/donaldmcdougal/file" target="_blank">View the code here.</a></b>
    </p>
  </mat-card-content>
</mat-card>
