<mat-card>
  <mat-card-title>
    Neural Networking
  </mat-card-title>
  <mat-card-subtitle>
    Provides a sample of neural networking in Java.
  </mat-card-subtitle>
  <mat-card-content>
    <p>The neural network sample provides calculates an XOR in a neural network using the following methods:</p>
    <ul>
      <li>
        A feed forward network.
      </li>
      <li>
        A feed forward genetic network.
      </li>
      <li>
        An Elman genetic network.
      </li>
    </ul>
    <p>
      <b><a mat-raised-button color="primary" href="https://github.com/donaldmcdougal/neuralnetwork" target="_blank">View the code here.</a></b>
    </p>
  </mat-card-content>
</mat-card>
