<mat-card>
  <mat-card-title>
    This site
  </mat-card-title>
  <mat-card-subtitle>
    Provides the source code for this site.
  </mat-card-subtitle>
  <mat-card-content>
    <p>This site uses the following technology:</p>
    <ul>
      <li><a href="https://angular.io/" target="_blank">Angular</a></li>
      <li><a href="https://material.angular.io/" target="_blank">Angular Material</a></li>
    </ul>
    <p>
      <b><a mat-raised-button color="primary" href="https://github.com/donaldmcdougal/donaldmcdougal-github-site" target="_blank">View the code here.</a></b>
    </p>
  </mat-card-content>
</mat-card>
