<mat-card>
  <mat-card-title>
    Utilities
  </mat-card-title>
  <mat-card-subtitle>
    Provides several utilities in a bundle.
  </mat-card-subtitle>
  <mat-card-content>
    <p>This library provides the following utilities:</p>
    <ul>
      <li>Compression</li>
      <li>Cryptography</li>
      <li>File</li>
      <li>Metadata</li>
      <li>Networking</li>
      <li>IP address geolocation</li>
    </ul>
    <p>
      <b><a mat-raised-button color="primary" href="https://github.com/donaldmcdougal/utilities" target="_blank">View the code here.</a></b>
    </p>
  </mat-card-content>
</mat-card>
