<mat-card>
  <mat-card-title>
    Networking
  </mat-card-title>
  <mat-card-subtitle>
    Provides a couple of networking utilities in Java.
  </mat-card-subtitle>
  <mat-card-content>
    <p>The networking utilities provide the following:</p>
    <ul>
      <li>
        Getting all IP addresses on the local machine.
      </li>
      <li>
        Guessing the IP address of the local machine.  Designed to be used behind a router.
      </li>
    </ul>
    <p>
      <b><a mat-raised-button color="primary" href="https://github.com/donaldmcdougal/net" target="_blank">View the code here.</a></b>
    </p>
  </mat-card-content>
</mat-card>
