<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">
        <mat-icon>home</mat-icon>
        Home
      </a>
    </mat-nav-list>
    <mat-toolbar color="primary">Projects</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="compression">
        <mat-icon>archive</mat-icon>
        Compression
      </a>
      <a mat-list-item routerLink="crypto">
        <mat-icon>lock</mat-icon>
        Cryptography
      </a>
      <a mat-list-item routerLink="files">
        <mat-icon>insert_drive_file</mat-icon>
        Files
      </a>
      <a mat-list-item routerLink="metadata">
        <mat-icon>assessment</mat-icon>
        Metadata
      </a>
      <a mat-list-item routerLink="networking">
        <mat-icon>wifi</mat-icon>
        Networking
      </a>
      <a mat-list-item routerLink="neural">
        <mat-icon>call_merge</mat-icon>
        Neural Networking
      </a>
      <a mat-list-item routerLink="northwind-backend">
        <mat-icon>settings_backup_restore</mat-icon>
        Northwind Backend
      </a>
      <a mat-list-item routerLink="northwind-client">
        <mat-icon>dashboard</mat-icon>
        Northwind Client
      </a>
      <a mat-list-item routerLink="this-site">
        <mat-icon>web</mat-icon>
        This Site
      </a>
      <a mat-list-item routerLink="utils">
        <mat-icon>build</mat-icon>
        Utilities Bundle
      </a>
      <a mat-list-item routerLink="starter-backend">
        <mat-icon>apps</mat-icon>
        Starter Node Backend
      </a>
      <a mat-list-item routerLink="starter-frontend">
        <mat-icon>http</mat-icon>
        Starter Angular Frontend
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Donald McDougal's Github Page</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
