<mat-card>
  <mat-card-title>
    Metadata
  </mat-card-title>
  <mat-card-subtitle>
    Provides metadata extraction utilities in Java.
  </mat-card-subtitle>
  <mat-card-content>
    <p>The metadata utilities provide the following:</p>
    <ul>
      <li>
        Retrieving ID3 tags from MP3 files.
      </li>
      <li>
        Retrieving artwork and saving from MP3 files.
      </li>
      <li>
        Extracting Metadata from most file formats in HTML and JSON formats.
      </li>
      <li>
        Detecting the MIME type of most files.
      </li>
    </ul>
    <p>
      <b><a mat-raised-button color="primary" href="https://github.com/donaldmcdougal/metadata" target="_blank">View the code here.</a></b>
    </p>
  </mat-card-content>
</mat-card>
