<mat-card>
  <mat-card-title>
    Compression
  </mat-card-title>
  <mat-card-subtitle>
    Provides compression and archiving utilities in Java.
  </mat-card-subtitle>
  <mat-card-content>
    <p>The compression utilities provide archiving in the following formats:</p>
    <ul>
      <li>
        ZIP files
      </li>
      <ul>
        <li>
          Only directories can be archived in the ZIP format.  For now.
        </li>
      </ul>
      <li>
        TAR files
      </li>
      <ul>
        <li>
          Only directories can be archived in the TAR format.  For now.
        </li>
      </ul>
    </ul>
    <p>The compression utilities provide compression in the following formats:</p>
    <ul>
      <li>Base64</li>
      <ul>
        <li>Byte arrays can be encoded to byte arrays.</li>
        <li>Byte arrays can be encoded to strings.</li>
        <li>Strings can be encoded to byte arrays.</li>
        <li>Strings can be encoded to strings.</li>
        <li>Byte arrays can be decoded to byte arrays.</li>
        <li>Byte arrays can be decoded to strings.</li>
        <li>Strings can be decoded to byte arrays.</li>
        <li>Strings can be decoded to strings.</li>
      </ul>
      <li>BZ2</li>
      <ul>
        <li>
          Path objects are used to compress files to another Path location on disk.
        </li>
        <li>
          InputStream objects can be used to compress to OutputStream objects.
        </li>
        <li>
          Path objects can be used to decompress files to another Path location on disk.
        </li>
        <li>
          InputStream objects can be used to decompress to OutputStream objects.
        </li>
      </ul>
      <li>GZ</li>
      <ul>
        <li>
          Path objects are used to compress files to another Path location on disk.
        </li>
        <li>
          InputStream objects can be used to compress to OutputStream objects.
        </li>
        <li>
          Path objects can be used to decompress files to another Path location on disk.
        </li>
        <li>
          InputStream objects can be used to decompress to OutputStream objects.
        </li>
      </ul>
      <li>XZ</li>
      <ul>
        <li>
          Path objects are used to compress files to another Path location on disk.
        </li>
        <li>
          InputStream objects can be used to compress to OutputStream objects.
        </li>
        <li>
          Path objects can be used to decompress files to another Path location on disk.
        </li>
        <li>
          InputStream objects can be used to decompress to OutputStream objects.
        </li>
      </ul>
    </ul>
    <p>
      <b><a mat-raised-button color="primary" href="https://github.com/donaldmcdougal/compression" target="_blank">View the code here.</a></b>
    </p>
  </mat-card-content>
</mat-card>
